.header{
    background-color: cyan;
    color: red;
    padding: 20px;
}
li,h1,ul{
    display:inline;   
}
ul{
    margin-left: 50%;
}
li{
    padding-right: 30px;
}
li:hover{
    background-color: white;
    padding: 1%;
    border-radius: 30%;
    transition: all 0.2s ease;
}
.price
{
        background-color: yellow;
        color: black;
        display: inline-block;
    }   
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.container div{
    margin: 10px;
    flex-basis: 24%;
    
}
.container img:hover{
    zoom:1.1;
}
.contact
{
    padding: 30px;
    background-color: black;
    color: white;
    height: 130px;
}
